---
import { renderBackgroundPicture } from "astro-imagetools/api";
import MainLayout from "../../layouts/MainLayout.astro";

const { link, style, htmlElement } = await renderBackgroundPicture({
  src: "https://picsum.photos/1024/768/",
  content: `<p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, nisi!
      Commodi, dolor hic omnis debitis natus eaque nisi magni corrupti earum
      aliquam at quidem dolorum?
    </p>

    <p>
      Eos facere amet nesciunt! Vero, culpa eaque quasi ullam atque alias
      repudiandae facere placeat ipsam recusandae quam minus nemo officia
      reiciendis dicta quaerat maiores omnis.
    </p>

    <p>
      Pariatur doloribus, facilis enim accusamus velit, amet ducimus dolorum
      unde numquam doloremque eveniet eum et error, quod quas fugit commodi
      suscipit sequi. At, deleniti nihil.
    </p>
    
    <p>
      Laborum voluptate maxime dicta alias minus nam, doloribus accusantium
      veritatis perferendis, expedita eaque. Deleniti deserunt, iure dolorum
      itaque fugiat assumenda ullam amet asperiores soluta ipsam!
    </p>
    
    <p>
      Veniam qui ad, illo fuga autem voluptatibus iusto cum reprehenderit error.
      Nemo nisi laborum blanditiis, accusamus dolores harum labore perspiciatis.
      Nesciunt, repellat mollitia. Rem, labore?
    </p>`,
});
---

<MainLayout importMetaUrl={import.meta.url}>
  <h1>Astro ImageTools <code>{"renderBackgroundPicture"}</code> API Example</h1>

  <br />

  <Fragment set:html={link + style + htmlElement} />
</MainLayout>
